*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.sec{
    text-align: center;
}
#tx a{
    color: black;
}
/* icons */
#blues i{
    margin-top: 100px;
    color: rgb(253, 253, 253);
    font-size: 30px;
}
#orangered i{
    margin-top: 100px;
    color: rgb(253, 253, 253);
    font-size: 30px;
}
#blue i{
    margin-top: 100px;
    color: rgb(253, 253, 253);
    font-size: 30px;
}
#green i{
    margin-top: 100px;
    color: rgb(253, 253, 253);
    font-size: 30px;
}
p{
    /* justify-content: center; */
    padding: 10px;
}
/* containers */
.containers{
    display: flex;
    margin: 20px;
    gap: 40px;
    justify-content: center;
}
#blues{
    height: 285px;
    width: 270px;
background: rgb(32, 184, 184);
}
#orangered{
    height: 285px;
    width: 270px;
    background:orangered;
    }
    #blue{
        height: 285px;
        width: 270px;
        background:blue;
        }
        #green{
            height: 285px;
            width: 270px;
            background: rgb(11, 161, 69);
            }
            #txt a{
                color: black;
            }
            .text p{
                font-size: 10px;
            }
            .texts p{
                font-size:10px ;
            }
            .fimg img{
                margin: 10px;
                padding: 10px;
            }
            .fim img{
                margin: 10px;
                padding: 10px;
            }
            
            
